body {
    margin: 0;
    background: rgb(70, 70, 70);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-evenly;
    background-color: #1B244A;
    width: 575px;
    height: 385px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    border: 2px solid white;
}

.home-container,
.guest-container {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.home-score-container,
.guest-score-container {
    display: flex;
    justify-content: space-between;
}

.header {
    color: EEEEEE;
    text-align: center;
    font-size: 40px;
    margin: 0;
    margin-bottom: 21px;
}

#home-points,
#guest-points {
    color: #F94F6D;
    font-size: 90px;
    font-weight: 400px;
    background-color: black;
    border-radius: 5px;
    width: 155px;
    height: 120px;
    margin-bottom: 26px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    /* temporary solution VVV why does this happen??? */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
    color: #9AABD8;
    font-size: 18px;
    padding: 9px 8px 9px 8px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    transition-duration: 0.4s;                                  
}

.btn:hover {
    background-color: black;
    transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn:active {
    background-color: black;
    /* box-shadow: 0 5px white; */
    transform: translateY(4px);
}

#new-game {
    align-self: center;
}

/* container borders */
/* .container {
    border: 3px solid rgb(0, 255, 21);
}

.home-container,
.guest-container {
    border: 3px solid salmon;
}

.home-score-container,
.guest-score-container {
    border: 3px solid rgb(255, 54, 188);
} */