body {
    margin: 0;
    background: rgb(24, 24, 24);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: black;
    width: 575px;
    height: 585px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 30px;
}

.top-container,
.middle-container,
.bottom-container {
    display: flex;
    justify-content: space-around;
}

.btn {
    border: 2px solid #ffee00;
    border-radius: 5px;
    background-color: rgb(24, 24, 24);
    color: #ffee00;
    font-size: 18px;
    padding: 8px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    transition-duration: 0.4s;                                  
}

.btn:hover {
    background-color: black;
    transform: scale(1.1);
}

.btn:active {
    background-color: black;
    transform: translateY(4px);
}

/* top item */
.home-container,
.guest-container {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.home-score-container,
.guest-score-container {
    display: flex;
    justify-content: space-between;
}

#home-header,
#guest-header {
    color: EEEEEE;
    text-align: center;
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;
}

#home-points,
#guest-points {
    color: #ff1b45;
    font-size: 90px;
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    width: 155px;
    height: 120px;
    margin-bottom: 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    /* temporary solution VVV why does this happen??? */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* middle item */
#home-foul,
#guest-foul {
    color: EEEEEE;
    text-align: center;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

#home-foul-points,
#guest-foul-points {
    color: #c70095;
    font-size: 60px;
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    width: 103px;
    height: 80px;
    margin-bottom: 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    /* temporary solution VVV why does this happen??? */
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-container .btn {
    font-size: 14px;
    padding: 5px;
}

/* bottom item */

.bottom-container {
    justify-content: center;
    gap: 50px;
}

.home-foul-container,
.guest-foul-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* /borders/ */
/* .container {
    border: 3px solid rgb(0, 255, 21);
}

.home-container,
.guest-container,
.home-foul-container,
.guest-foul-container {
    border: 3px solid salmon;
}

.home-score-container,
.guest-score-container {
    border: 3px solid rgb(255, 54, 188);
}

.top-container,
.middle-container,
.bottom-container {
    border: 3px solid rgb(0, 255, 21);
} */